# Node / Frontend
node_modules
/dist
/dist-ssr
npm-debug.log
yarn-error.log
pnpm-debug.log

# IDEs e editores
.idea
.DS_Store
.vscode/*
!/frontend/.vscode/extensions.json

# Arquivos de ambiente locais
.env
.env.local
.env.*.local