.git
.gitignore
venv
env
node_modules
frontend/node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
.idea
.vscode
celerybeat-schedule
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat-schedule.dir
*.zip
*.tar
*.gz
**
media