version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      # Garante que usa a senha definida no .env
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      # Mapeia a porta 5433 do seu Windows para a 5432 do Container
      # Isso resolve o conflito com o Postgres local e permite o acesso via 'localhost:5433'
      - "5432:5432"
    restart: always

  redis:
    image: redis:7-alpine
    restart: always

  web:
    build: .
    command: gunicorn ImobCloud.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - media_volume:/app/media
      - ./logs:/app/logs
      - ./frontend/dist:/app/frontend/dist
    ports:
      - "8001:8000" # Porta 8001 para acessar o site
    depends_on:
      - db
      - redis
    env_file: .env
    # Sobrescreve as configs do .env para funcionar DENTRO do Docker
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    restart: always

  celery:
    build: .
    command: celery -A ImobCloud worker -l info
    volumes:
      - media_volume:/app/media
    depends_on:
      - db
      - redis
    env_file: .env
    # Sobrescreve as configs do .env para funcionar DENTRO do Docker
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    restart: always

  celery-beat:
    build: .
    command: celery -A ImobCloud beat -l info
    depends_on:
      - db
      - redis
    env_file: .env
    # Sobrescreve as configs do .env para funcionar DENTRO do Docker
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - REDIS_URL=redis://redis:6379/0
    restart: always

volumes:
  postgres_data:
  media_volume: